[program:marathon]
command= /opt/marathon-{{ marathon_version }}/bin/start
        --master {{ zk_hosts }}/{{ cluster_name }}
        --zk {{ zk_hosts }}/{{cluster_name}}_marathon
        --event_subscriber http_callback
directory=/opt/marathon-{{ marathon_version }}
autostart=true
autorestart=true
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/marathon.out
stderr_logfile = /var/tmp/marathon.err
loglevel = "info"
stopasgroup=true
