[program:consul]
command= /opt/bin/start_consul.sh
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/consul.out
stderr_logfile = /var/tmp/consul.err
loglevel = "info"
stopasgroup=true
