#!/bin/bash

{% if inventory_hostname == consul_leader %}
/opt/bin/consul agent \
    -server \
    -advertise {{ private_ipv4 }} \
    -config-dir /etc/consul.d \
    -bootstrap-expect {{ consul_size }}
{% endif %}

{% if inventory_hostname != consul_leader and consul_mode == "server" %}
/opt/bin/consul agent \
    -server \
    -advertise {{ private_ipv4 }} \
    -config-dir /etc/consul.d \
    -join {{ hostvars[consul_leader].private_ipv4 }}
{% endif %}

{% if inventory_hostname != consul_leader and consul_mode == "agent" %}
/opt/bin/consul agent \
    -advertise {{ private_ipv4 }} \
    -config-dir /etc/consul.d \
    -join {{ hostvars[consul_leader].private_ipv4 }}
{% endif %}
