docs/_build
*.pyc
.vagrant
security.yml
ssl/**/*.pem
ssl/index.txt*
ssl/serial*
ssl

# terraform
**/*.tfstate*
**/.terraform
bin
local
include
lib
lib64
pip-selfcheck.json
.ropeproject

aws.tf
cluster.yml
infra_ansible.yml
infra.yml
openvpn_ansible.yml
important
