[program:etcd_browser]
command= /opt/bin/start_etcd_browser.sh
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/etcd_browser.out
stderr_logfile = /var/tmp/etcd_browser.err
loglevel = "info"
stopasgroup=true
