#!/bin/bash

CONTAINER_NAME=swarm_agent

docker rm -f $CONTAINER_NAME
docker run --name $CONTAINER_NAME \
    -i \
    --net=host \
    swarm \
    join \
    --advertise={{ private_ipv4 }}:{{ docker_tcp_port }} \
    etcd://{{ private_ipv4 }}:{{ etcd_client_port }}/{{ cluster_name }}
