[program:traefik]
command= /opt/bin/traefik /etc/traefik/traefik.toml
autostart=true
autorestart=true
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/traefik.out
stderr_logfile = /var/tmp/traefik.err
loglevel = "info"
stopasgroup=true
