[program:prometheus_alertmanager]
command= /opt/bin/start_prometheus_alertmanager.sh
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/prometheus_alertmanager.out
stderr_logfile = /var/tmp/prometheus_alertmanager.err
loglevel = "info"
stopasgroup=true
