{ 
  "service": {
    "name": "prometheus",
    "port": 9090,
    "check": {
      "script": "/opt/bin/supervisor_service_check.sh prometheus",
      "interval": "15s",
      "timeout": "2s"
    }
  }
}
