# Global settings
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: '{{ cluster_name}}'

scrape_configs:
  # Prometheus.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 10s

    target_groups:
      - targets: ['localhost:9090']

  # Consul
  - job_name: 'consul'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 10s

    target_groups:
      - targets: ['localhost:{{ consul_exporter_port }}']

  # etcd
  - job_name: 'etcd'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 10s

    target_groups:
      - targets: 
      {% for i in range(etcd_size) -%}
        - "{{ cluster_name }}-control-{{ str(i + 1).zfill(2) }}.{{ domain }}:{{ etcd_clent_port }}"
      {%- endfor %}
