[program:prometheus_mesos_exporter]
command= /opt/bin/start_prometheus_mesos_exporter.sh
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/prometheus_mesos_exporter.out
stderr_logfile = /var/tmp/prometheus_mesos_exporter.err
loglevel = "info"
stopasgroup=true
