use_host_domain: true
host_domain: {{ domain }}
flocker_control_node: {{ cluster_name }}-control-01.{{ domain }}
ec2_region: {{ aws_region }}
ec2_zone: {{ aws_zone }}
etcd_image_tag: v2.2.1
supervisord_conf_dir: /etc/supervisord
supervisord_exec_dir: /usr/local/bin
consul_leader: {{ cluster_name }}-control-01
consul_size: {{ control_count }}
exhibitor_s3_region: {{ aws_region }}
exhibitor_s3_bucket: {{ exhibitor_s3_bucket }}
exhibitor_config_prefix: {{ exhibitor_config_prefix }}
exhibitor_size: {{ control_count }}
cluster_name: {{ cluster_name }}
calico_network_initor: {{ cluster_name }}-master-001
etcd_discovery: {{ etcd_discovery }}
{{ more_settings }}
